<h1>Dashboard</h1>
<br>
<h1>Favorites</h1>

<h3>You have favorited 0 drinks in Starbucks</h3>



<a href="/drinks/1">Chez Gladines</a>
<a href="/drinks/2">Le Temps des Cerises</a>
<a href="/drinks/3">La Tour d'Argent</a>