<div class="container">
  <h3>Hi there! <%= @user.email %></h3>
  <div id="tabs">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="#tabs-1" class="tab-underlined active">Personal details</a>
      </li>
      <li>
        <a href="#tabs-2" class="tab-underlined fade">Favorites</a>
      </li>
    </ul>

    <div id="tabs-1">
      <%= link_to "Edit", edit_user_registration_path %>
      <br>
      <h5>Email</h5>
      <h3><%= @user.email %></h3>
    </div>

    <div id="tabs-2">
      <h3>You have favorited 0 drinks in Starbucks</h3>
    </div>
  </div>
</div>