.home-banner {
  background-image: url("../assets/sorin.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 8vh;

  h1 {
    color: #678758;
    padding-bottom: 5vh;
  }

  p {
    color: #E3EEDD;
    padding-bottom: 10vh;
  }
}

.btn-ghost {
  color: #E3EEDD;
  border: 1px solid #E3EEDD;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  background: #E3EEDD;
  color: #678758;
}