.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  margin: 10px auto 50px;
}

.card-category {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.card-product {
  overflow: hidden;
  height: 300px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.card-product img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 100px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}