.navbar {
  justify-content: space-between;
  background-color: #f4f4f4;
  transition: 0.5s background-color ease;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}