.navbar {
  justify-content: space-between;
  background-color: #f4f4f4;
  transition: 0.5s background-color ease;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}



.nav-item {
  color: #678758 !important;
  // padding: 8px;
  // margin: 8px 16px;
  // opacity: .4;
  // cursor: pointer;
  // text-decoration: none;
  // line-height: 1.5em;
  // display: inline-block;
  // border: none;
}

// .nav-tabs .nav-link.active {
//   opacity: 1;
//   border-bottom: 3px solid #678758;
// }
